body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#myBtn {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    z-index: 99;
    font-size: 45px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: -1px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

/* header styles */
.subtitleStyle {
    font-family: 'Heebo', sans-serif;
    color: #ffb3b3;
    text-shadow: 2px 2px 8px #0e0e0e;
}

.titleStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 8px #0e0e0e;
    text-decoration: underline;
}

.headerStyle {
    width: 100%;
    height: 40vh;
    background: rgb(194, 194, 194);
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -12vw;
}

.headerContent {
    text-align: center;
    margin: 10px 30px 10px 30px;
}

/* menu styles */
.align li a {
    transition: 0.2s ease;
}

.align li a:hover {
    color: midnightblue;
    font-size: 1.5vw;
}

ul {
    padding: 0;
}

.menuStyle {
    background: linear-gradient(#fff, rgb(97, 97, 97))fixed;
    width: 18%;
    height: auto;
}

.titleInMenuStyle {
    margin: 200px 0 0 0;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    transition: 0.2s ease;
    color: #a70303;
    text-shadow: 1px 1px 4px #0e0e0e;
}

.titleInMenuStyle:hover {
    color: #fff;
    font-size: 2.1vw;
}

.menu li {
    list-style-type: none;
    text-align: right;
    padding: 15px;    
}

.menu li a {
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}

.backToTopStyle {
    font-size: 65px;
    top: 61vw;
    left: 73vw;
    position: fixed;
}


/* index.php styles */
.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

/* this is related to the background image, to have opacity. */
.background1 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background1::after {
  content: "";
  background-image: url("images/explain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -4vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background2 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background2::after {
  content: "";
  background-image: url("images/coins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -9vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background3 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background3::after {
  content: "";
  background-image: url("images/columns.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -56vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background4 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background4::after {
  content: "";
  background-image: url("images/buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -3vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.content {
    border: 1px solid grey;
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    background: linear-gradient(#9a4646, #fff);
    color: #fff;
    box-shadow: 0px 0px 30px #000000;
    transition: all 0.5s;
    cursor: pointer;
}

.content:hover {
    background: linear-gradient(#fff, #9a4646);
    color: rgb(0, 0, 0);
}

.sectionStyle {
    width: 100%;
    height: 50vh;
}

/* functional styles */

.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.flexDir {
    flex-direction: row-reverse
}

.column {
    flex-direction: column;
}

.justifyContent {
    justify-content: center;
}

.justifyContentEnd {
    justify-content: flex-end;
}

.align {
    align-items: center;
}

.textAlign {
    text-align: center;
}

.alignContent {
    align-items: flex-end;
}


/* aboutUs.php */
.showButton {
    display: block
}

.hideButton {
    display: none;
}

.aboutUsText {
    margin-right: 20px;
    width: 362vw;
    text-align: right;
}

.rivkaPicStyle {
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    margin: 5vw 0 5vw 10vw;
}

.more {
    width: 70%;
    text-align: end;
}

.contentMargin {
    margin: 0 20px 20px 0;
}

.aStyle {
    color: blue;
    cursor: pointer;
}

.textStyle {
    width: 40vw;
    margin: 0 10vw 5vw 0;
}

.aboutMe {
    margin: 5vw 10vw 0 0;
}

/* contactUs styles */

.contactUsStyle {
    direction: rtl;
    width: 80%;
    margin: 20px auto;
}

.inputStyle {
    width: 40%;
    height: 30px;
    font-size: 15px;
    background: #ececec;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 8px 22px #ffffff inset;
}

.inputStyle:focus {
    box-shadow: 5px 8px 22px #fddcdc inset;
}

.textAreaStyle {
    width: 90%;
    height: 90px;
    font-size: 15px;
    background: #ececec;
    border-radius: 5px;
    box-shadow: 5px 8px 22px #ffffff inset;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.textAreaStyle:focus {
    box-shadow: 5px 8px 22px #fddcdc inset;
}

.firstButton {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: dodgerblue;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 10px #888888;
    transition-duration: 0.5s;
}

.firstButton:active {
    background: #143f9b;
}

.formSection {
    width: 50%;
}

.contactUsImgStyle {
    width: 50%;
}

.mailIconStyle {
    font-size: 20vw;
    margin: auto;
    text-shadow: 5px 10px 18px #888888;
}
















.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

footer {
    height: 30px;
    width: 100%;
    background: rgb(97, 97, 97);
    color: #fff;
    padding: 5px 10px;
}



.noStyle {
    color: black;
}











.menu li {
    list-style-type: none;
    text-align: right;
    padding: 15px;    
}

.menu li a {
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}


.align {
    align-items: center;
}

.alignLeft {
    align-items: left;
}

.alignAlt {
    align-items: flex-end;
}

.inputMargin {
    margin: 2px;
}



.iconFontSize {
    font-size: 30px;
}

.position {
    position: fixed;
}

.mainWidth {
    width: 82%;
}

.socialIconsStyle {
    margin: 10px;
    font-size: 20px;
}

.navigationSquare {
    width: 90px;
    height: 90px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 40px;
}

.decoration {
    text-decoration: none;
}

.socialIconsStyle:hover {
    color: #fff;
}

.questionStyle {
    color: rgb(130, 130, 130);
    font-family: 'Heebo', sans-serif;
    text-shadow: 2px 2px 3px #000000;
    font-size: 3vw;
}

.specificQuestionStyle {
    margin: 20px;
}

.iconStyle {
    background: #6f9fe6;
    transition: background-color 0.5s ease;
}

.iconStyle:hover {
    background: rgb(187, 200, 111);
}

.backgroundUnit {
    /* background-image: url("images/saving.jpg"); */
    background: #e3e9f6;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit1 {
    background-image: url("images/explain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit2 {
    background-image: url("images/coins.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit3 {
    background-image: url("images/hands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit4 {
    background-image: url("images/columns.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit5 {
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundUnit6 {
    background-image: url("images/mounts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.unit p {
    padding: 0 111px 0 111px;
    color: #26bfbf;
    font-size: 20px;
    text-shadow: 2px 2px 3px #000000;
}



.unit h3 {
    font-size: 25px;
    text-shadow: 2px 2px 3px #000000;
    color: #fff;
}

.unitAlt2 h3{
    color: black;
    font-size: 25px;
    text-shadow: 2px 2px 3px #000000;
}

.unitAlt2 p {
    padding: 0 111px 0 111px;
    color: #26bfbf;
    font-size: 20px;
    text-shadow: 2px 2px 3px #000000;
}



.unit {
    border: 1.5px solid rgb(253, 248, 246);
    width:100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unitAlt2 {
    border: 1.5px solid rgb(253, 248, 246);
    width:100%;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unitAlt {
    border: 1.5px solid rgb(253, 248, 246);
    width:100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* id's */

#specificId {
    margin-top: 12vw;
}