body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

#myBtn {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    z-index: 99;
    font-size: 45px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: -1px;
    border-radius: 50%;
}
  
#myBtn:hover {
    background-color: #555;
}

  /* footer styles */
.copyStyle {
    text-align: center;
}

footer {
    height: 30px;
    width: 100%;
    background: rgb(97, 97, 97);
    color: #fff;
    padding: 5px 10px;
}

/* header styles */

.mainWidth {
    width: 82%;
}

.subtitleStyle {
    font-family: 'Heebo', sans-serif;
    color: #ffb3b3;
    text-shadow: 2px 2px 8px #0e0e0e;
}

.titleStyle {
    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px 8px #0e0e0e;
    text-decoration: underline;
}

.headerStyle {
    width: 100%;
    height: 40vh;
    background-image: url("images/Optimized-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -12vw;
}

.headerContent {
    text-align: center;
    margin: 10px 30px 10px 30px;
}

/* menu styles */

.socialIconsStyle:hover {
    color: #fff;
}

.socialIconsStyle {
    margin: 10px;
    font-size: 20px;
}

.menu li {
    list-style-type: none;
    text-align: right;
    padding: 15px;    
}

.menu li a {
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}

.noStyle {
    color: black;
}

.align li a {
    transition: 0.2s ease;
}

.align li a:hover {
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}

ul {
    padding: 0;
}

.menuStyle {
    background: linear-gradient(#fff, rgb(97, 97, 97))fixed;
    width: 18%;
    height: auto;
}

.titleInMenuStyle {
    margin: 200px 0 0 0;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    transition: 0.2s ease;
    color: #a70303;
    text-shadow: 1px 1px 4px #0e0e0e;
}

.titleInMenuStyle:hover {
    color: #fff;
    font-size: 2.1vw;
}

.menu li {
    list-style-type: none;
    text-align: right;
    padding: 15px;    
}

.menu li a {
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #fff;
}

.backToTopStyle {
    font-size: 65px;
    top: 61vw;
    left: 73vw;
    position: fixed;
}

.specificId {
    margin-top: 164px;
    padding: 0px 0 15px 0px;
}




/* index.php styles */
.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

/* this is related to the background image, to have opacity. */
.background1 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background1::after {
  content: "";
  background-image: url("images/Optimized-explain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -4vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background2 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background2::after {
  content: "";
  background-image: url("images/Optimized-coins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -9vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background3 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background3::after {
  content: "";
  background-image: url("images/columns.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -56vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* this is related to the background image, to have opacity. */
.background4 {
    position: relative;
}

/* this pseudo elmement is here to have opacity to the background image without afecting 
the rest of the elements on it */
.background4::after {
  content: "";
  background-image: url("images/Optimized-buildings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -3vw;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.content {
    border: 1px solid grey;
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    background: linear-gradient(#9a4646, #fff);
    color: #fff;
    box-shadow: 0px 0px 30px #000000;
    transition: all 0.5s;
    cursor: pointer;
    /* transition: 0.2s ease; */
}

.content:hover {
    background: linear-gradient(#fff, #9a4646);
    color: #fff;
}

.sectionStyle {
    width: 100%;
    height: 50vh;
}

/* functional styles */

.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.flexDir {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.justifyContent {
    justify-content: center;
}

.justifyContentEnd {
    justify-content: flex-end;
}

.align {
    align-items: center;
}

.textAlign {
    text-align: center;
}

.position {
    position: fixed;
}


/* aboutUs.php */
.showButton {
    display: block;
}

.hideButton {
    display: none;
}

.aboutUsText {
    margin-right: 20px;
    width: 362vw;
    text-align: right;
}

.rivkaPicStyle {
    width: 70%;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    margin: 6vw 0 5vw 0;
}

.more {
    width: 70%;
    text-align: right;
}

.contentMargin {
    margin: 0 20px 20px 0;
}

.aStyle {
    color: blue;
    cursor: pointer;
}

.textStyle {
    width: 35vw;
    margin: 0 10vw 5vw 0;
}

.aboutMe {
    margin: 5vw 10vw 0 0;
}

/* contactUs styles */

.iconStyle {
    background: #6f9fe6;
    transition: background-color 0.5s ease;
}

.iconStyle:hover {
    background: rgb(187, 200, 111);
}

.contactUsStyle {
    direction: rtl;
    width: 80%;
    margin: 20px auto;
}

.inputStyle {
    width: 40%;
    height: 30px;
    font-size: 15px;
    background: #ececec;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 8px 22px #ffffff inset;
}

.inputStyle:focus {
    box-shadow: 5px 8px 22px #fddcdc inset;
}

.textAreaStyle {
    width: 90%;
    height: 90px;
    font-size: 15px;
    background: #ececec;
    border-radius: 5px;
    box-shadow: 5px 8px 22px #ffffff inset;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.textAreaStyle:focus {
    box-shadow: 5px 8px 22px #fddcdc inset;
}

.firstButton {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: dodgerblue;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 2px 2px 10px #888888;
    transition-duration: 0.5s;
}

.firstButton:active {
    background: #143f9b;
}

.formSection {
    width: 50%;
}

.contactUsImgStyle {
    width: 50%;
}

.mailIconStyle {
    font-size: 20vw;
    margin: auto;
    text-shadow: 5px 10px 18px #888888;
}

/* registration.php styles */
.registrationStyle {
    height: auto;
}

.succesMsg {
    text-align: center;
    margin: 60px;
    font-size: 23px;
}

.paperPlaneStyle {
    margin: 0 auto;
    font-size: 100px;
    text-shadow: 5px 10px 18px #888888;
}

.firstButtonAlt {
    width: 170px;
    height: 30px;
    border-radius: 5px;
    background: dodgerblue;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    margin: 43px auto;
    cursor: pointer;
    box-shadow: 2px 2px 10px #888888;
    transition-duration: 0.5s;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
}

.firstButtonAlt:active {
    background: #143f9b;
}


/* vision.php styles */

.visionMainStyle {
    margin: 5vw 10vw;
}

.visionTextStyle {
    width: 30vw;
    margin-top: 0;
}

.visionPictureStyle {
    width: 25vw;
    height: 31vw;
    margin: 0 4vw 0 0;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

.buttonAltMarg {
    margin: 43px 0;
}

/* growth.php styles */

.grothPictureStyle {
    width: 25vw;
    height: 18vw;
    margin: 0 4vw 0 0;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
}

/* bigCopr.php */

.linkStyle {
    text-decoration: none;
}




/* MEDIA QUERYS */
/* menu */
@media screen and (max-width: 1024px) {
    .menuStyle {
        display: none;
    }
}

/* index.php */
@media screen and (max-width: 1024px) {
    .mainWidth {
        width: 100%;
        margin: 0 auto;
    }

    .sectionStyle {
        width: 80%;
        margin: 0 auto;
    }

    .content {
        border: 1px solid grey;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: linear-gradient(#9a4646, #fff);
        color: #fff;
        box-shadow: 0px 0px 30px #000000;
        transition: all 0.5s;
        cursor: pointer;
    }

    .headerStyle {
        height: 54vw;
    }
}


/* for the hamburger menu */
@media screen and (max-width: 1024px) {
    .container {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        z-index: 20;
        margin: 10px;
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ec6262;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    }

    .hamburgerMenu {
        width: 100%;
        background: #d2d2d2;
        position: fixed;
        z-index: 10;
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .hamburgerMenu {
        display: none;
    }
}

/* vision.php styles */

/* aboutUs.php */
@media screen and (max-width: 1024px) {
    .mobileColumn {
        flex-direction: column;
    }

    .mobileStyleForPicParent {
        margin: 0 auto;
    }

    .mobilePicStyle {
        width: 64vw;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 10px 18px #888888;
        margin: 5vw;
    }

    .textStyleMobile {
        width: 80%;
        margin: 0 10vw 5vw 0vw;
    }

    .moreMobile {
        width: 90%;
    }
}

/* contactUs.php */

@media screen and (max-width: 1024px) {
    .inputStyleMobile {
        width: 78vw;
    }
}

/* vision.php */

@media screen and (max-width: 1024px) {

    .picStyleMobile {
        width: 80%;
        margin: 0 auto;
        height: auto;
    }

    .textStyleMobile {
        width: 80%;
        margin: 20px auto;
    }

    .buttonAltMargMobile {
        margin: 43px auto;
    }
}
